<container>
  <row class="header">
    <columns small="6" large="6" style="vertical-align: middle">
      <img
        src="https://i.imgur.com/kJD3YPC.png"
        class="logo_white"
      />
    </columns>
    <columns small="6" large="6" style="vertical-align: middle">
      <img
        src="https://i.imgur.com/PcSKufD.png"
        class="user_icon float-right"
      />
    </columns>
  </row>
  <row class="sub-header">
    <columns style="width: 90%">
      <row>
        <columns small="4" large="3">
          <a href="#" class="text-center"
            ><img
              src="https://i.imgur.com/Dv9gjIF.png"
              class="icons"
            />Flights</a
          >
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center"
            ><img
              src="https://i.imgur.com/pudQi8B.png"
              class="icons"
            />Hotels</a
          >
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center"
            ><img
              src="https://i.imgur.com/8jtyBxJ.png"
              class="icons"
            />Cars</a
          >
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3" class="show-for-large">
          <a href="#" class="text-center"
            ><img
              src="https://i.imgur.com/i9eAMaF.png"
              class="icons"
            />Packages</a
          >
        </columns>
      </row>
    </columns>
  </row>
</container>
